<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ご依頼について - ザッパワールディリア</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">    <link rel="stylesheet" href="https://unpkg.com/ress@4.0.0/dist/ress.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/stylesheet.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <script>
      window.addEventListener('load', function() {
        const logo = document.querySelector('.top-logo');
        setTimeout(() => {
          logo.classList.add('fade-in');
        }, 100);
      });
    </script>
  </head>
  <body>
    <header>
      <div class="container">
        <div class="header-left">
          <img src="/images/ZAPPA-Worldillia-logo.png">
        </div>
        <div class="header-right">
          <a href="/">Home</a>
          <a href="/profile">Profile</a>
          <a href="/works">Works</a>
          <a href="/free-bgm">Free BGM DL</a>
          <a href="/commission">Commision & Contact</a>
          <a href="/links">Links</a>
        </div>
      </div>
    </header>
    <div class="request-wrapper">
      <div class="container">
        <h1>ご依頼はこちらから！</h1>
        <div class="request-section">
          <h2>DJ出演依頼</h2>
          <div class="request-content">
            <h3>【対応ジャンル】</h3>
            <ul>
              <li>トランス</li>
              <li>J-Pop</li>
              <li>J-Rock</li>
              <li>ハウス</li>
              <li>EDM</li>
              <li>ハードコアテクノ</li>
            </ul>
            
            <h3>【活動可能地域】</h3>
            <ul>
              <li>東京</li>
              <li>神奈川</li>
              <li>千葉</li>
              <li>埼玉</li>
            </ul>
          </div>
        </div>

        <div class="request-section">
          <h2>作曲依頼</h2>
          <div class="request-content">
            <h3>【対応ジャンル】</h3>
            <ul>
              <li>ロック</li>
              <li>メタル</li>
              <li>ジャズ</li>
              <li>トランス</li>
              <li>ハードコア</li>
              <li>ハードスタイル</li>
              <li>ハウス</li>
              <li>EDM</li>
            </ul>
          </div>
          <div class="request-content">
            <h3>【料金表】</h3>
             <p>ご予算に合わせますが、以下が基本料金となります。</p>
             <div class="price-table">
                <h4>商業作品の場合</h4>
               <ul>
                 <li>作曲及び編曲：20,000円</li>
                 <li>作詞：20,000円</li>
                 <li>ボーカル及び人による仮歌：10,000円（含人件費及収録費）</li>
                 <li>お急ぎオプション：10,000円</li>
                 <li>著作権譲渡：20,000円</li>
              </ul>
            </div>
            <div class="price-table">
              <h4>同人作品、個人活動の場合</h4>
              <ul>
                <li>作曲及び編曲：10,000円</li>
                <li>作詞：10,000円</li>
                <li>ボーカル及び人による仮歌：10,000円（含人件費及収録費）</li>
                <li>お急ぎオプション：5,000円</li>
              </ul>
            </div>
            <div class="price-table">
              <h4>そのほかの営利の発生しない作品の場合</h4>
              <ul>
                <li>作曲及び編曲：5,000円</li>
                <li>作詞：5,000円</li>
                <li>ボーカル及び人による仮歌：5,000円（含人件費及収録費）</li>
                <li>お急ぎオプション：不可</li>
              </ul>
            </div>
            <div class="caution-table">
              <h4>注意事項</h4>
              <ol>
                <li>料金にはすべて著作権が含まれており、基本的に著作権は放棄しておりません。</li>
                <li>著作権譲渡の場合でも、著作者人格権は放棄しません ※詳細は、のちに契約書で説明させていただきます。</li>
                <li>お急ぎオプションは、案件数によっては対応できない場合がございますので、ご了承ください。</li>
                <li>お急ぎといっても、「5分でッッ」などのようなムチャも対応できません 笑</li>
              </ol>
            </div>
          </div>
        </div>
        <div class="request-section">
          <h2>業務委託</h2>
          <div class="request-content">
            <h3>【対応業務】</h3>
            <ul>
              <li>ゲームや映像作品などのプロジェクトでの楽曲制作、音響編集</li>
              <li>ライブなどでのマニピュレート業務</li>
          </div>
          <div class="request-content">
            <h3>【対応ジャンル】</h3>
            <ul>
              <li>ロック</li>
              <li>メタル</li>
              <li>ジャズ</li>
              <li>トランス</li>
              <li>ハードコア</li>
              <li>ハードスタイル</li>
              <li>ハウス</li>
              <li>EDM</li>
            </ul>
          </div>
          <div class="request-content">
            <h3>【料金表】</h3>
            <p>ご相談に応じますが、最低でも20,000円から承ります。</p>
          </div>  
            <div class="caution-table">
              <h4>注意事項</h4>
              <ol>
                <li>プロジェクトでの業務の場合は基本的に在宅業務としますが、関東圏内ならばオフラインのミーティングが可能です。</li>
                <li>交通費の請求が可能かどうか、ご相談のほどをよろしくお願いします。</li>
              </ol>
            </div>
          </div>
        </div>
      </div>        
      <div class="contact-form">
        <h2>お問い合わせ</h2>
        <p>ご依頼、お誘い、ご意見、お見積もり請求はこちらへ</p>
        <form action="send_mail.php" method="post">
          <div class="form-group">
            <label for="name">お名前</label>
            <input type="text" id="name" name="name" required>
          </div>
          
          <div class="form-group">
            <label for="email">メールアドレス</label>
            <input type="email" id="email" name="email" required>
          </div>
          
          <div class="form-group">
            <label for="subject">件名</label>
            <input type="text" id="subject" name="subject" required>
          </div>
          
          <div class="form-group">
            <label for="message">内容</label>
            <textarea id="message" name="message" rows="6" required></textarea>
          </div>
          
          <button type="submit" class="submit-btn">送信</button>
        </form>
      </div>
    </div>
    <footer>
      <div class="footer-visual">
        <h2>ザッパワールディリア</h2>
        <p>© 2025 ZAPPAWorldillia.tokyo, All Rights Reserved.</p>
      </div>
    </footer>
  </body>
</html>