<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ザッパワールディリア</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">    <link rel="stylesheet" href="https://unpkg.com/ress@4.0.0/dist/ress.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/stylesheet.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <script>
      window.addEventListener('load', function() {
        const logo = document.querySelector('.top-logo');
        setTimeout(() => {
          logo.classList.add('fade-in');
        }, 100);
      });
    </script>
  </head>
  <body>
    <header>
      <div class="container">
        <div class="header-left">
          <img src="/images/ZAPPA Worldillia logo.png">
        </div>
        <div class="header-right">
          <a href="/">Home</a>
          <a href="/profile">Profile</a>
          <a href="/works">Works</a>
          <a href="/free-bgm">Free BGM DL</a>
          <a href="/commission">Commision & Contact</a>
          <a href="/links">Links</a>
        </div>
      </div>
    </header>
    <div class="top-wrapper">
      <div class="container">
        <h1 class="top-title">ザッパワールディリア</h1>
        <p class="top-subtitle">ザッパワールディリアへようこそ。</p>
        <p class="top-description">私ZAPPAが運営する、これまでの作曲作品のご紹介と、作曲やDJのご依頼を承るHPです。</p>
        <p class="top-description">どうぞごゆっくりと。</p>
      </div>
    </div>
    <div class="news-wrapper">
      <div class="container">
        <h2 class="section-title">更新情報</h2>
        <div class="news-container">
          <div class="news-list">
            <div class="news-item">
              <span class="news-date">2023年12/16日(SatSat)</span>
              <p>【Profile】楽曲提供企画ついての情報を追加しました</p>
            </div>
            <div class="news-item">
              <span class="news-date">2022年11/14(Sun)</span>
              <p>【フリーBGM】「メーワクなお偉いさん」追加</p>
            </div>

            <div class="news-item">
              <span class="news-date">2022年8/29(Sun)</span>
              <p>【Profile】【WORKS】音響編集参加作品「マウスマン ダークチャイルド」についての情報を追加しました</p>
            </div>
            <div class="news-item">
              <span class="news-date">2022年7/30(Sat)</span>
              <p>【WORKS】「DL配信」にて、「惑」追加</p>
            </div>
            <div class="news-item">
              <span class="news-date">2022年6/1(Wed)</span>
              <p>【WORKS】「DL配信」にて、「フライング☆炎天下」追加</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="schedule-wrapper">
      <div class="container">
        <h2 class="section-title">スケジュール</h2>
        <p class="schedule-notice">現在、DJ出演、ライブ音響(MA、PA)など募集可能です。</p>
      </div>
    </div>
    <div class="blog-wrapper">
      <div class="container">
        <h2 class="section-title">ブログ</h2>
        <div class="blog-links">
          <a href="https://note.com/zappaworldillia" class="blog-link">
            <img src="/images/note-icon.jpg" alt="note">
            <p>noteでブログを書いています</p>
          </a>
          <a href="http://ameblo.jp/zappaworldillia" class="blog-link">
            <img src="/images/download.png" alt="旧ブログ">
            <p>旧ブログ、ザッパワールディリア for amebaへ</p>
          </a>
        </div>
      </div>
    </div>
    <footer>
      <div class="footer-visual">
        <h2>ザッパワールディリア</h2>
        <p>© 2024 ZAPPAWorldillia, All Rights Reserved.</p>
      </div>
    </footer>
  </body>
</html>